{{#with comment}}
    {{#if hasVisibleComponent}}
        <div class="tsd-comment tsd-typography">
            {{#if shortText}}
                {{#markdown}}{{{shortText}}}{{/markdown}}
            {{/if}}
            {{#if text}}
                {{#markdown}}{{{text}}}{{/markdown}}
            {{/if}}
            {{#if tags}}
                {{#hasValidTag tags}}
                    <dl class="tsd-comment-tags">
                        {{#each tags}}
                            {{#isValidTag tagName}}
                                <dt{{#eq tagName "override"}} class="override"{{/eq}}>{{tagName}}</dt>
                                <dd>{{#markdown}}{{{text}}}{{/markdown}}</dd>
                            {{/isValidTag}}
                        {{/each}}
                    </dl>
                {{/hasValidTag}}
            {{/if}}
        </div>
    {{/if}}
{{/with}}