{{> comment}}

{{#if typeParameters}}
    <h4 class="tsd-type-parameters-title">Type parameters</h4>
    {{> typeParameters}}
{{/if}}

{{#if type.declaration}}
    <div class="tsd-type-declaration">
        <h4>Type declaration</h4>
        {{#with type.declaration}}
            {{> parameter}}
        {{/with}}
    </div>
{{/if}}
